$main-bg-color: #1a2c4a;
$secondary-bg-color: #2a4365;
$text-color-light: #c7d2e6;
$text-color-dark: #1a2c4a;
$accent-color: #f7a81b;
$logout-red: #e53e3e;
$main-font: 'Poppins', sans-serif;
$border-color: #e2e8f0;

$main-action-color: #ffc107;

$card-border-color: #6c91d5;

$status-success-bg: #e6f7f0;
$status-success-text: #00875a;


$breakpoint-md: 992px;
